body{
    background-color: white;
}

.navbar-nav .nav-link.active {
    border-bottom: 4px solid #a3753e;
}

.imaindex {
    width: 100%; 
    max-width: 80%; 
    max-height: 375px; 
    margin: 0 auto; 
}

a{
    color: white;
    text-decoration: none;
}

.indexButton {
    background-color: #a3753e;
    color: white;
    width: 100%; 
    max-width: 150px; 
    border-radius: 20px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    margin-top: auto;  
    font-size: 1rem;
    transition: background-color 0.3s; 
}

.indexButton:hover {
    background-color: #8a5b2b; 
}
.politicas{
    font-size: 10px;
}

@media (max-width: 576px) {
    .indexButton {
        font-size: 0.9rem; 
        padding: 8px 0;
        margin: 5px; 
    }

    .imaindex {
        width: 90%; 
        max-height: 150px; 
    }
}

.fixed-image {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
}

.card {
    border: none; 
    box-shadow: none; 
}

.card-body p {
    margin: 0;
    text-align: left;
}

h1{
    font-style: italic;
    color: #a3753e;
    text-align: center;
    font-size: 25px;
}

/* diseño del formulario */
.container{
    max-width: 1200px;
    
}

 

.slogan {
    position: absolute;  
    bottom: 140px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; 
    font-size: 18px; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
}



.contact-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #d1c1ac;
    border-radius: 8px;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.underline-input {
    border: none;
    border-bottom: 2px solid #A0522D;
    border-radius: 0;
    padding: 5px 0;
    box-shadow: none;
    width: 100%;
}

.underline-input:focus {
    border-bottom-color: #A3753E;
    outline: none;
}

textarea.underline-input {
    border-bottom: 2px solid #A0522D;
    resize: none;
}

/* para botones y calendario */

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    border: none;
    color: #A0522D;

}

.selector {
    display: block;  
    background-color: #a0522d; 
    padding: 15px;
    border-radius: 10px;
    color: white; 
}

.selected {
    background-color: #A0522D;
    color: white;
    border-radius: 50%;
    text-align: center;
}

 


.item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 15px 0;
}

.item span {
    margin-right: 10px;  
    font-weight: bold;
}

input[type="date"], input[type="time"] {
    width: 150px; 
    padding: 5px;
    border: 2px solid #fff; 
    border-radius: 5px;
    background-color: #fff; 
    color: #333; 
}

input[type="date"]::placeholder, input[type="time"]::placeholder {
    color: #aaa; 
}


.btn-selector::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}


.ejemploColores{
    background-color: #D8B876;
    background-color: #FAD880;
    background-color: #C67D30;
    background-color: #ECDEC9;
    background-color: #EFEAE9 ;
    
}

.image-text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.fixed-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}